{% extends 'base.html' %} 
{% block body_class %}f1-create-pilot{% endblock %}
{% block content %}

<main class="container f1-page">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
                <form action="/pilots/create/" method="POST" class="card card-body">

                    <h1>Create pilot</h1>

                    {{error}}

                    {% csrf_token %}

                    {{form}}

                    <button class="btn btn-primary">
                        Save
                    </button>
                </form>
        </div>
    </div>
</main>

{% endblock %}