{% extends 'base.html' %} {% block content %}

  <main class="container f1-page">

    <section class="card card-body">
      <h1 class="display-1 text-center" >Pilots App</h1>
      <p>
      El Campeonato Mundial de Fórmula 1 de la FIA, más conocido como Fórmula 1, F1
      o Fórmula Uno, es la principal competición de automovilismo internacional y el
      campeonato de deportes de motor más popular y prestigioso del mundo. La
      entidad que la dirige es la Federación Internacional del Automóvil.

      Texto de Copyright y Deslinde de ResponsabilidadEste proyecto es una aplicación de prueba de carácter puramente educativo y sin fines de lucro, desarrollada con el único propósito de practicar habilidades de HTML y CSS.Aviso de exención de responsabilidad: Esta aplicación no es oficial y no está asociada de ninguna manera con el grupo de empresas de la Fórmula 1. F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX y las marcas relacionadas son marcas comerciales registradas de Formula One Licensing B.V.Todos los derechos sobre los nombres de los equipos, pilotos, logotipos, imágenes y marcas registradas mencionadas en esta aplicación pertenecen a sus respectivos propietarios. No se pretende infringir ningún derecho de autor.
      </p>

      <div class="text-center">
        <a class="btn btn-secondary" href="{% url 'signin' %}">
          Signin
        </a>
        <a class="btn btn-dark" href="{% url 'signup' %}">
          Signup
        </a>
      </div>
    </section>
  </main>

{% endblock %}