{% extends 'base.html' %} 
{% block body_class %}f1-create-pilot{% endblock %}
{% block content %}

<main class="container f1-page">
    <div class="row">
        <div class="col-md-4 offset-md-4">

                    <h1 class="text-secondary">{{pilot.title}}</h1>

                    {{error}}

                    <div class="mt-5">
                        <form method="POST">
                
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class="btn btn-primary">
                                Update
                            </button>
                        </form>

                        <form action="{% url 'delete_pilot' pilot.id %}" method="POST">
                            
                            {% csrf_token %}
                            <button class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
        </div>
    </div>
</main>

{% endblock %}