{% extends 'base.html' %} {% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Pilots</h1>

                <ul class="list-group">

                    {% for pilot in pilots_all %}

                    <a class="list-group-item" href="{% url 'pilot_detail' pilot.id %}">
                        <header class="d-flex justify-content-between">
                            <h1 class="display-4 py-1">{{pilot.title}}</h1>
                            <p>{{pilot.user.username}}</p>
                        </header>
                        <h3>{{pilot.name}}</h3>
                        <h3>{{pilot.team}}</h3>

                    </a>
                    {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}
